.user-menu {
    position: relative;
    height: 100%;
}

.user-menu .p-menu-list {
    padding-bottom: 110px;
}

.menu-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: inherit;
}

.menu-item {
    background-color: #18181b;
    border-radius: 10px;
    border-color: #3f3f46;
    border-style: solid;
    border-width: 1px;
}

.main-background {
    background-color: #18181b;
}

.menu-item:hover {
    background-color: #b21f24;
}

.p-badge {
    --p-badge-primary-background: #b21f24;
    --p-badge-primary-color: #ffffff;
    --p-badge-border-radius: 10px;
    --p-badge-border-style: solid;
    --p-badge-border-width: 1px;
}

.menu-item:hover .p-badge {
  border: 1px solid #3f3f46;
  box-sizing: border-box;
}

.logout {
    background-color: #18181b;
}